<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> </meta>
	<meta name="theme-color" content="#000000"> </meta>
	
	<title>React App</title>
	 
	<script type="text/javascript" src="../../js/libs/react.development.js"></script>
    <script type="text/javascript" src="../../js/libs/react-dom.development.js"></script>
    <script type="text/javascript" src="../../js/libs/babel.min.js"></script>	
	
</head>

<body>
	<div id="root"></div>
	<script type="text/babel" src="../../js/compoment/Application.js"> </script>
	<script type="text/babel" src="../../js/register.js"> </script>
	
</body>
</html>